@import "./variables";

%hover {
  background-color: $fondo-blanco-hover;
  transition: $efecto-transicion;
  border: $borde-hover*2 solid black;
  border-radius: $bordes-redondeados/2;
  transform: scale(1.10,1.10);
  box-shadow: 5px 10px rgb(80, 74, 74);
}

%hover-contacto {
  background-color: $fondo-blanco-hover;
  transition: $efecto-transicion;
  border: $borde-hover*2 solid black;
  border-radius: $bordes-redondeados/2;
  box-shadow: 5px 10px rgb(80, 74, 74);
}

/*PAGINA HOME*/
.home {
    background-color: rgb(187, 184, 184);
    border-radius: $bordes-redondeados/2;
    display: flex;
    justify-content: space-evenly;
  
    &__seccion {
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  
    &__subseccion {
      padding: 10px;
    }
  }

  .home2 {
    background-color: rgb(221, 221, 221);
    border-radius: $bordes-redondeados/2;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
    &_subseccion {
      display:flex;
      flex-direction: column;
    }
  
    &__img {
      border: 1px solid black;
    }
  }

  /*PAGINA PROYECTOS*/
  .Proyectos__galeria {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /*PAGINA SOBRE MI*/
  .sobreMi__seccion2 {
    align-self: center;
  }

  /*PAGINA CONTACTO*/
  
  .contacto__nombre {
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column;
  }
  
  .contacto__boton--estilo {
    margin-right: 20px;
    font-weight: 800;
  }

  .contacto__parrafo--estilo {
    margin-top: 20px;
  }

  .contacto__botonPreg {
    background-color:gray;
    color: black;
    font-weight: bold;
    border: none;
    width: 65vw;
  }

  .contacto_respuesta {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: $bordes-redondeados/2;
    margin-bottom: 15px;
  }

  /*PAGINA SOFTWARE*/
  .software__seccion {
    background-color: rgb(187, 184, 184);
    border-radius: $bordes-redondeados/2;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: $height-width/3;
  
    .software__subseccion {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 15px;
    }

    .software__BotonReq {
      text-decoration: none;
      color: black;
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .software2 {
    background-color: rgb(221, 221, 221);
    border-radius: $bordes-redondeados/2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .software2__seccion {
    margin-top:50px;
    margin-bottom: 50px;
  }

  /*PAGINA MODELADO*/
  .contenidoModelado {
  background-color: rgb(187, 184, 184);
  border-radius: $bordes-redondeados/2; 
  }

  .modeladoTitle {
  margin-bottom: 20px;
  margin-top: 5px;
  }

  .modeladoBoton {
    background-color:rgb(173, 170, 170);
    border:none;
    font-size: 20px;
    border-radius: $bordes-redondeados/2;
    font-weight: bold;
    color: black;
  }

  .fondoModal {
    background-image: linear-gradient(to right, #808080, #dcdcdc);
    border: $borde-hover*2 solid black;
    padding: 10px;
    border-radius: $bordes-redondeados/2;
  }

  .listaModelado {
    font-style: italic;
  }

  .carruselModelado {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .contenidoModel2 {
    background-color: rgb(221, 221, 221);
    border-radius: $bordes-redondeados/2;
    padding: 10px;
  }
  
  .contenidoModelado2 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  /*PAGINA RENDER*/
  .render {
    background-color: rgb(187, 184, 184);
    border-radius: $bordes-redondeados/2;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    &__img {
      margin-top: 15px;
      margin-bottom: 15px;
      width: $height-width/3;
    }
  }
  
  .render2 {
    background-color: rgb(221, 221, 221);
    border-radius: $bordes-redondeados/2;
    padding: 10px;
    display:flex;
    flex-direction: column;
    height: $height-width/3;
  
    &_subseccion {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }