.footer {
    background-image: linear-gradient(to right, #696969, #c0c0c0);
    align-content: center;
  
    &__logo {
      // width: 7vw;
      // height:auto;
    }
  
    &__Links {
      list-style-type:none ;
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  
    &__Link {
      transform: scale(2,2);
      text-decoration: none;
    }
    
    &__LinkColor {
      color: black;
    }
    
  }