@import "./variables";
%heroStyle {
  height: $Height-Hero/2;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%heroText {
  background-color: white;
  opacity:0.65;
}

.heroHome {
    // height: $Height-Hero/2;
    background-image: url("/Imagenes/YVAVRRM2YLEMGDTYWL55IJRDGA.jpg");
    @extend %heroStyle;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
  
      &__Text {
        @extend %heroText;
        // background-color: white;
        // opacity:0.65;
      }
  }

.heroProyectos {
    @extend %heroStyle;
    background-image: url("/Imagenes/800px-The_Barcelona_Pavilion\,_Barcelona\,_2010.jpg");
  
      &__Text {
        @extend %heroText;
      }
} 

.heroSobreMi {
    @extend %heroStyle;
    background-image: url("/Imagenes/CROWN_HALL_04.jpg");
  
    &__Text {
      @extend %heroText;
    }
}

.heroContacto {
    @extend %heroStyle;
    background-image: url("/Imagenes/biblioteca.jpg");

    &__Text {
      @extend %heroText;
    }
}

.heroSoftware {
    @extend %heroStyle;
    background-image: url("/Imagenes/X55UNRRQH5ARLDTCZ7R7DFBIIQ.jpg");
  
    &__Text {
      @extend %heroText;
    }
}

.heroModelado {
    @extend %heroStyle;
    background-image: url("/Imagenes/casa-emblematica-9.jpg");
    
    &__Text {
      @extend %heroText;
    }
}

.heroRender {
    @extend %heroStyle;
    background-image: url("/Imagenes/la-residencia-kaufmann-en-pensilvania-mas-conocida-como-casa-de-la-cascada-1939-es-el-proyecto-residencial-mas-conocido-de-frank-lloyd-wright_76101.jpg");
  
  
    &__Text {
      @extend %heroText;
    }
}