@mixin hover1 {
    background-color: $fondo-blanco-hover;
    transition: $efecto-transicion;
    border: $borde-hover*2 solid black;
    border-radius: $bordes-redondeados/2;
    transform: scale(1.10,1.10);
    box-shadow: 5px 10px rgb(80, 74, 74);
}

@mixin hover2 {
    background-color: $fondo-blanco-hover;
    transition: $efecto-transicion;
    border: $borde-hover*2 solid black;
    border-radius: $bordes-redondeados/2;
    box-shadow: 5px 10px rgb(80, 74, 74);
}

@mixin hoverImg {
    transform: scale(1.6,1.6);
    transition: $efecto-transicion;
}

@media (min-width: 1024px) {
    .home__subseccion:hover {
        @include hover1;
    }

    .home2__img:hover {
        @include hoverImg;
    }

    .Proyectos__img:hover {
        @include hoverImg;
    }

    .contacto__campo--estilo:hover {
        @include hover2;
    }

    .contacto__boton--estilo:hover {
        @include hover2;
    }

    .contacto__botonPreg:hover {
        @include hover2;
    }

    .software__BotonReq:hover {
        @include hover2;
    }
    
    .software__subseccion:hover {
        @include hover2;
    }

    .software2__seccion:hover {
        @include hover1;
    }
    
    .modeladoBoton:hover {
        @include hover1;
    }

    .contenidoModelado2:hover {
        @include hover1;
    }

    .render__img:hover {
        @include hoverImg;
    }

    .render2_subseccion:hover {
        @include hover1;
    }
}