.navbar {
    background-image: linear-gradient(to right, #696969, #c0c0c0);

    &__logo {
      text-decoration: none;
      

      h1 {
        font-family: $fuente-paginas;
        font-size: 40px;
        font-weight: bolder;
        padding: 5px;
      }

      h1:hover {
        background-color: white;
        border-radius: $bordes-redondeados/2;
      }
    }

    &__nav-item {
      color: black;
      font-size: 20px;
      font-family: $fuente-paginas;
      padding-left: 20px;
      padding-right: 20px;
    }

    &__nav-item:hover {
      background-color: white;
      border-radius: $bordes-redondeados/2;
    }
  }