%encabezados {
    color: black;
    font-weight: bolder;
    // font-style: italic;
}

h1 {
    font-size: 25px;
    font-family: $fuente-paginas;
    margin-top: 15px;
    margin-bottom: 10px;
    @extend %encabezados;
}

h2 {
    font-size: 20px;
    font-family: $fuente-paginas;
    @extend %encabezados;
}

h3 {
    font-size: 12px;
    font-family: $fuente-paginas;
    @extend %encabezados;
}

h4 {
    font-size: 5px;
    font-family: $fuente-paginas;
    @extend %encabezados;
}

p {
    font-size: 16px;
    font-family: $fuente-paginas;
    color: black;
}

small {
    font-size: 10px;
    font-family: $fuente-paginas;
    color: black;
    font-weight: 1000;
}

h5 {
    font-size: 10px;
    font-family: $fuente-paginas;
    color: black;
    font-weight: bold;
}
