$bordes-redondeados: 50px;
$fuente-paginas: 'Big Shoulders Text';
$efecto-transicion: all 1000ms ease;
$bordes-finos-imagenes: 1px solid black;
$Height-Hero: 120vh;
$height-width: 300%;
$fondo-blanco-hover: white;
$borde-hover: 1px;