$bordes-redondeados: 50px;
$fuente-paginas: 'Oswald', sans-serif;
$efecto-transicion: all 600ms ease;
$bordes-finos-imagenes: 1px solid black;
$Height-Hero: 80vh;
$height-width: 300%;
$fondo-blanco-hover: white;
$borde-hover: 1px;